<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "com.spring.elderlycare.dao.DeviceDAOImpl">

	
	<insert id = "insertElderly" parameterType = "com.spring.elderlycare.dto.ElderlyDTO" 
	useGeneratedKeys="true" keyProperty="ekey">
	INSERT INTO elderly(ename, ebirth, eaddr, etel)
	VALUES(#{ename}, #{ebirth}, #{eaddr}, #{etel});


	</insert>
	<insert id = "insertDevice" parameterType = "com.spring.elderlycare.dto.ElderlyDTO">
	INSERT INTO devices(elderly, homeIoT)
	VALUES(#{ekey}, #{homeIoT});
	</insert>
	<insert id = "insertManage" parameterType = "HashMap">
	INSERT INTO manage(staff, elderly)
	VALUES(#{staff}, #{elderly});
	</insert>
	<select id = "selectDevices" parameterType = "String" resultType = "com.spring.elderlycare.dto.Elderly2DTO">
		<!--  SELECT * FROM elderly LEFT JOIN devices ON devices.elderly =  ekey
				LEFT JOIN manage ON manage.elderly =ekey WHERE staff = #{value};-->
	select * from(
		SELECT ekey, ename, ebirth, etel, eaddr, homeIoT, staff, relative
    	FROM elderly 
    	LEFT JOIN devices ON devices.elderly =  ekey
		LEFT JOIN manage ON manage.elderly =ekey 
		WHERE staff = #{value} OR relative = #{value})a
	left join (
		select * from(
			select ekey, stat from banddata
			where (ekey, measuredtime)in(
				select ekey, max(measuredtime) as measuredtime
				from banddata group by ekey
			)
    	order by measuredtime desc
		)t
	)tt 
	ON tt.ekey = a.ekey;
	</select>
	<select id = "selectDevice" parameterType = "int" resultType = "com.spring.elderlycare.dto.ElderlyDTO">
		SELECT * FROM elderly WHERE ekey = #{value};
	</select>
	<select id = "selectDeviceOne" parameterType = "int" resultType = "com.spring.elderlycare.dto.DevicesDTO">
		SELECT * FROM devices WHERE elderly = #{value};
	</select>
	<delete id="deleteDeivce" parameterType = "int">
	DELETE FROM elderly WHERE ekey = #{value};
	</delete>
	
	<select id = "selectHomedev" resultType = "hashmap">
		SELECT elderly, homeIoT FROM devices;
	</select>
	<select id = "elderlyLogin" parameterType = "hashmap" resultType = "hashmap">
		select a.elderly as ekey ,regId, homeIoT  from(
			SELECT elderly, homeIoT 
			FROM devices
			where
				(select ekey 
				from elderly 
				where ename = #{ename} AND ebirth = #{ebirth}) = elderly
    			)a
		LEFT JOIN
			(select regId,elderly from manage )c 
		ON a.elderly = c.elderly;
	</select>
	
</mapper>